<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('public/header'); %>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/story.css">
    <title>Mission!</title>
</head>
<body>
<!--nav-->
<%- include('public/nav'); %>
<header class="gradient shadow-lg d-flex align-items-center">
    <div class="container">
        <h1 class="fredoka-semi text-white text-center slide-top">Stories</h1>
        <div class="row justify-content-center slide-top">
            <section class="text-white w-50 text-center">
                Browse posted agent missions here
            </section>
        </div>
    </div>
</header>

<main class="w-100 d-flex flex-column align-items-center container mt-4">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-2 d-flex justify-content-end px-0">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="list-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-list"></i>
                    </button>
                    <button id="grid-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-grid-fill"></i>
                    </button>
                </div>
            </div>
        </div>

        <ul id="list-container" class="row list-group mt-3 d-none slide-top">
            <!-- dynamic render-->
            <div>
                NO DATA :)
            </div>
        </ul>

        <div id="grid-container" class="row slide-top">
            <!-- dynamic render-->
        </div>
        
    </div>
</main>


<%- include("public/script"); %>
<script type="module">
    import { jq } from "/js/public/constant.js";
    import { loadScript } from "/js/util/util.js";
    import { useNav } from "/js/public/nav.js";
    import { story } from "/js/public/api.js";
    import { useChangeType } from "/js/view/story.js";
    import { loading } from "/js/util/loading.js";

    loadScript(jq, async () => {
        useNav();

        const load = loading($('body'));
        try {
            const { data } = await story.getStoryList();
            // const type = useChangeType(data);

            $('#list-btn').click(() => type.value = 0);
            $('#grid-btn').click(() => type.value = 1);
        } finally {
            load.remove();
        }
    });
</script>
