<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('public/header'); %>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/storyDetail.css">
    <title>Mission!</title>
</head>
<body>
<!--nav-->
<%- include('public/nav'); %>
<header>
    <div id="empty-container"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="https://a0.muscache.com/im/pictures/09efb5fc-7bf1-44c0-b0ef-241a38533e67.jpg?im_w=1680"
                     class="card-img-top" alt="...">
            </div>
            <div class="col-12 col-md-6">

                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</header>

<main class="w-100 d-flex flex-column align-items-center container mt-4 bg-purple vh-100">

</main>


<%- include("public/script"); %>
<script type="module">
    import {jq} from "/js/public/constant.js";
    import {loadScript} from "/js/util/util.js";
    import {useNav} from "/js/public/nav.js";
    import {initView} from "/js/view/storyDetail.js";

    loadScript(jq, async () => {
        useNav();
        initView();


    });
</script>
