body {
    background: #3A1C71; /* fallback for old browsers */
    background: -webkit-linear-gradient(-60deg, #9b6f4e, #be6069, #3A1C71); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-60deg, #9b6f4e, #be6069, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
}

.navbar {
    background: rgba(0, 0, 0, 0.30);
}

.tittle {
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
    font-size: 3rem;
    color: #3A1C71;
}

.advantage_left h4 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #36b1af;
}

.advantage_left1 img {
    width: 300px !important;
    height: 300px !important;
    border-radius: 50% !important;
}

.advantage_left h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}
