/** @format */

#room-screen {
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#google-kl {
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: unset;
    display: flex;
    flex-direction: column;
}

#google-cards {
    flex: 1 0 auto;
    overflow: auto;
    height: 0;
}

.card-text {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}


.kge-search-picker {
    width: 23%;
    z-index: 999;
}


#nav-tabContent {
    flex: 1 0 auto;
    overflow: auto;
    height: 0;
}

#chat-history,
#nav-members {
    flex: 1 0 auto;
    overflow: auto;
    height: 0;
}

.message {
    color: black;
    background: lightgray;
    line-height: 26px;
    border-radius: 10px;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
}

.sender {
    color: white;
    background: var(--primary);
}

#emoji-box > img:hover {
    background-color: var(--primary);
    cursor: pointer;
}

i {
    font-size: 24px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: white;
    background: var(--primary);
}

.nav-link {
    color: black;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary);
}


#google-btn {
    position: absolute;
    right: 0;
    width: 80px;
    height: 50px;
    background: var(--primary);
    color: white;
    border-radius: 2rem 0 0 2rem;
    z-index: 100;
}

/*#clear-canvas-btn {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 60px;*/
/*    width: 80px;*/
/*    height: 50px;*/
/*    background: indianred;*/
/*    color: white;*/
/*    border-radius: 2rem 0 0 2rem;*/
/*    z-index: 100;*/
/*}*/

#room-btn {
    width: 80px;
    height: 50px;
    background: var(--primary);
    color: white;
    border-radius: 0 2rem 2rem 0;
    z-index: 100;
}

#room-btn:hover,
#google-btn:hover {
    color: var(--primary);
    background: white;
}

#clear-canvas-btn:hover{
    color: indianred;
    background: white;
}

#room-btn:focus,
#clear-canvas-btn:focus,
#google-btn:focus {
    box-shadow: 0 0 0 0;
}

#send-msg-btn:hover,
#send-emoji-btn:hover {
    color: white;
    background: var(--primary);
}
.dropdown-menu.show {
    display: flex;
}