/** @format */

body {
    height: 100vh;
    width: 100%;
}

/*nav*/
.navbar > .container > .d-inline-flex > .text-light {
    color: #34383a !important;
}

.navbar-toggler {
    background-repeat: no-repeat;
    background-image: url("../img/list.svg") !important;
    background-size: 100% 100%;
    background-position: center;
}

.navbar {
    background: #ffffff;
}

.nav-link {
    color: #6c757d !important;
}

.nav-link:hover {
    color: #34383a !important;
}

.btn-outline-light {
    color: #34383a !important;
    border-color: #6c757d !important;
}

/*story*/
#story-detail-author, .modal-title {
    color: purple;
}

#story-detail-title, #story-detail-author {
    min-height: 40px;
}

.card:hover {
    color: purple;
}

.btn-purple {
    background-color: purple;
    border-color: purple;
    color: white;
}

.btn-purple:hover {
    background-color: white;
    border-color: purple;
    color: purple;
}

.btn-purple:focus {
    background-color: purple;
    border-color: purple;
    color: white;
    box-shadow: 0 0 0 0;
}

