<!--nav-->
<nav id="nav-bar" class="navbar navbar-expand-lg navbar-dark position-fixed fixed-top" style="z-index: 999">
    <div class="container">
        <!-- logo -->
        <div class="d-inline-flex align-content-center me-3">
            <a class="navbar-brand" href="/">
                <img class="ml-4" width="32" height="32" src="/img/icon-64.png" alt="icon">
            </a>
            <h2 class="my-auto d-lg-none text-light fst-normal">Mission<span class="purple">!</span></h2>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul id="nav" class="navbar-nav">
                <!--render by js see@util.js-->
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <hr class="col-12 d-lg-none text-light">
            <div class="container my-3 my-lg-0">
                <div class="row">
                    <input class="form-control me-lg-3 mb-3 mb-lg-0 col" type="search" placeholder="Search a story"
                           aria-label="Search">

                    <button class="btn btn-outline-light me-3 col-12 col-lg-3" data-bs-toggle="modal"
                            data-bs-target="#new-story-modal">
                        Create a Story
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
<%- include("create-story"); %>
